/* the styles for the form */

.field {
  box-sizing: content-box;
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

.field {
  margin-top: 1em;
  margin-bottom: 1em;
  padding-top: 0.5em;
}

.legend {
  color: #931420;
  font-weight: bold;
  font-size: 85%;
  margin-bottom: 0.5em;
}

/* label {
  float: left;
  width: 12em;
  text-align: right;
} */
